.personen {
    height: 20rem;
    background-size: 100%;
    
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-item{
    padding-top: 2rem;
}




@media screen and (min-width: 900px) {
   .personen {
    height: 15rem;
    background-size: 100%;
    
}
	.flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .flex-item{
        padding-right: 3rem;
    }
}


body {
	background: linear-gradient(-45deg, #BEDCEF, #EFDDCA, #C4D1D6, #F1F1E6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
