/* CSS Code, der für alle Web Pages gleich ist */

.webpage {
  display: flex;
  flex-direction: column;
  /* min-height: bewirkt, dass der Footer zuunterst ist. */
  min-height: 100vh;
  /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
  padding: 0;
  margin: 0;
color: #084A6A;
font-family: 'Roboto Condensed', sans-serif;
}
p{
	font-size: 20 px;
}
h1{
	font-size: 56 px;
	font-weight: 700;
}

h2{
	font-size: 43 px;
	font-weight: 700;
}

h3{
	font-size: 34 px;
	font-weight: 700;
}

h4{
	font-size: 26 px;
	font-weight: 700;
}

.header {
  background-image: urL("../images/home.jpg");
  height:350px;
	  background-repeat: no-repeat;
  background-size: 200%;
}

.content {
  flex-grow: 1;
padding: 20px;
}

.footer {
  height: 50px;
	padding: 20px;
	text-align: center;
}

.button1{
  background-color: #E89B25;
  color: white;
  border: 2px solid #E89B25;
	padding: 15px;
	border-radius: 10px;
	font-weight: 700;
	font-size: 12pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  border-right:none;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

i{
	width: 10px;
}

li a:hover:not(.active) {
  background-color: none;
	font-weight: 700;
	
}

.active {
  background-color: none;
	font-weight: 700;
}

