

input {
	border: none;
	border-bottom:1px solid #084A6A;
	margin-bottom: 25px;
}

.marging {
		width: 85%;
}

select{
	border: none;
	border-bottom:1px solid #084A6A;
	margin-bottom: 25px;
}

textarea{
	border: none;
	border:1px solid #084A6A;
	height: 100px;
	width: 70%;
	margin-bottom: 25px;
}


.klein{
	font-size: 10px;
	padding-left: 5px;
}
.button1:disabled{
	color:white;
	background-color:red;
}

@media only screen and (min-width: 768px){
	
	.marging {
		width: 50%;
	}
	
}


/* CSS Code, den es für die Start Page braucht */
